@use 'global' as *;

/* メインビューは含まないが、
ロゴ付きのヘッダー、スマホのドロワーメニューまでを含む。
z-index:1000 */
.p-header {
    height: rem(62);
    // background-color: #21054D;
    background-color: transparent;
    z-index: 1000;

    /* ヘッダーの固定 */
    position: fixed;
    width: 100%;
}

.p-header__inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(15);
}

/* PC時はハンバーガーボタン非表示 */
.p-header__drawer {
    @include mq(md) {
        display: none;
    }
}

/* PC用ナビ */
.p-header__pc-nav {
    height: inherit;
    display: none;

    @include mq(md) {
        display: block;
    }
}

/* ロゴ */
.p-header__logoLink {
    color: $white;
    font-size: rem(18);

    /* 縦方向の中央 */
    display: block;
}